<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Rent-a-Car</title>
    </head>
    <body>
        <h1>Rent-a-Car</h1>
        
        <% if(locals.msg){ %>
            <div class="toast success">
                <p><%= msg %></p>
            </div>
        <% } %>

        <% if(locals.e){ %>
            <div class="toast error">
                <p><%= e %></p>
            </div>
        <% } %>
        
        <form method="POST" action="/login">
            <fieldset>
                <legend>Login</legend>
                <label for="email">E-mail:</label>
                <input name="email" type="email"/>
                <label for="senha">Senha:</label>
                <input name="senha" type="password"/>
                <input class="button" type="submit" value="Login"/>
                <a href="/signupForm">Cadastrar novo usuário</a>
            </fieldset>
        </form>
    </body>
</html>