<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>ERRO</title>
  </head>
  <body class="body-error">
    <div class="div-error">
      <h2 class="title-red text-error">
        FALHA DE CONEXÃO COM O BANCO DE DADOS
      </h2>
      <button class="btn-ver">
        <a href="/paginaPrincipal" class="button-link">VOLTAR</a>
      </button>
    </div>
  </body>
</html>
