<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Veículos Básicos</title>
  </head>
  <body>
    <header class="title-header">
      <h1 class="title"><a href="/paginaPrincipal">RENT A CAR</a></h1>
      <p class="title">/</p>
      <p class="title-red">LUXO</p>
    </header>
    <main>
      <section class="car-group-oferta">
        <div class="car-card">
          <img
            class="card-image"
            id="hiluxImage"
            src=""
          />
          <h2 class="card-title" id="hiluxTitle"></h2>
          <p class="card-desc" id="hiluxDesc"></p>
          <p class="card-price" id="hiluxPrice"></p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
        <div class="car-card">
          <img
            class="card-image"
            id="corollaImage"
            src=""
          />
          <h2 class="card-title" id="corollaTitle"></h2>
          <p class="card-desc" id="corollaDesc"></p>
          <p class="card-price" id="corollaPrice"></p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
      </section>
    </main>
    <script>
      const URL = "http://192.168.56.1:4000/carros";

      async function chamarApi() {
        const resp = await fetch(URL);
        const obj = await resp.json();
        try {
          let hilux = obj[4];
          let hiluxImage = document.getElementById("hiluxImage");
          let hiluxTitle = document.getElementById("hiluxTitle");
          let hiluxDesc = document.getElementById("hiluxDesc");
          let hiluxPrice = document.getElementById("hiluxPrice");
          hiluxImage.src = hilux.imagem;
          hiluxTitle.innerHTML = hilux.marca + " " + hilux.modelo;
          hiluxDesc.innerHTML = hilux.descricao;
          hiluxPrice.innerHTML = hilux.precoDia + " / DIA";

          let corolla = obj[5];
          let corollaImage = document.getElementById("corollaImage");
          let corollaTitle = document.getElementById("corollaTitle");
          let corollaDesc = document.getElementById("corollaDesc");
          let corollaPrice = document.getElementById("corollaPrice");

          corollaImage.src = corolla.imagem;
          corollaTitle.innerHTML = corolla.marca + " " + corolla.modelo;
          corollaDesc.innerHTML = corolla.descricao;
          corollaPrice.innerHTML = corolla.precoDia + " / DIA";

        } catch (error) {
          alert("errorrrr");
        }
      }
      chamarApi();
    </script>
  </body>
</html>
