<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Veículos Básicos</title>
  </head>
  <body>
    <header class="title-header">
      <h1 class="title"><a href="/paginaPrincipal">RENT A CAR</a></h1>
      <p class="title">/</p>
      <p class="title-red">BÁSICOS</p>
    </header>
    <main>
      <section class="car-group-oferta">
        <div class="car-card">
          <img
            class="card-image"
            src="https://img2.icarros.com/dbimg/imgmodelo/4/269_4.webp"
          />
          <h2 class="card-title">FIAT UNO</h2>
          <p class="card-desc">1.0 MPI MILLE FIRE ECONOMY 8V FLEX 4P MANUAL</p>
          <p class="card-price">R$ 29,80 / DIA</p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
        <div class="car-card">
          <img
            class="card-image"
            src="https://static.kbb.com.br/pkw/t/tf8fab21f-f420-4553-9b64-5ec0e3f01979.jpg"
          />
          <h2 class="card-title">CHEVROLET CELTA</h2>
          <p class="card-desc">1.0 MPFI LT 8V FLEX 4P MANUAL</p>
          <p class="card-price">R$ 30,89 / DIA</p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
