<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="main.css" />
  <title>Veículos Básicos</title>
</head>

<body>
  <header class="title-header">
    <h1 class="title"><a href="/paginaPrincipal">RENT A CAR</a></h1>
    <p class="title">/</p>
    <p class="title-red">SUPER LUXO</p>
  </header>
  <main>
    <section class="car-group-oferta">
      <div class="car-card">
        <img class="card-image" id="huracanImage" src="" />
        <h2 class="card-title" id="huracanTitle"></h2>
        <p class="card-desc" id="huracanDesc"></p>
        <p class="card-price" id="huracanPrice"></p>
        <div class="card-button-oferta">
          <button class="btn-ver-oferta">
            <a class="button-link-oferta" target="_blank" href="#">VER OFERTA</a>
          </button>
        </div>
      </div>
      <div class="car-card">
        <img class="card-image" id="ferrariImage" src="" />
        <h2 class="card-title" id="ferrariTitle"></h2>
        <p class="card-desc" id="ferrariDesc"></p>
        <p class="card-price" id="ferrariPrice"></p>
        <div class="card-button-oferta">
          <button class="btn-ver-oferta">
            <a class="button-link-oferta" target="_blank" href="#">VER OFERTA</a>
          </button>
        </div>
      </div>
    </section>
  </main>
  <script>
    const URL = "http://192.168.56.1:4000/carros";

    async function chamarApi() {
      const resp = await fetch(URL);
      const obj = await resp.json();
      try {
        let huracan = obj[6];
        let huracanImage = document.getElementById("huracanImage");
        let huracanTitle = document.getElementById("huracanTitle");
        let huracanDesc = document.getElementById("huracanDesc");
        let huracanPrice = document.getElementById("huracanPrice");
        huracanImage.src = huracan.imagem;
        huracanTitle.innerHTML = huracan.marca + " " + huracan.modelo;
        huracanDesc.innerHTML = huracan.descricao;
        huracanPrice.innerHTML = huracan.precoDia + " / DIA";

        let ferrari = obj[7];
        let ferrariImage = document.getElementById("ferrariImage");
        let ferrariTitle = document.getElementById("ferrariTitle");
        let ferrariDesc = document.getElementById("ferrariDesc");
        let ferrariPrice = document.getElementById("ferrariPrice");

        ferrariImage.src = ferrari.imagem;
        ferrariTitle.innerHTML = ferrari.marca + " " + ferrari.modelo;
        ferrariDesc.innerHTML = ferrari.descricao;
        ferrariPrice.innerHTML = ferrari.precoDia + " / DIA";

      } catch (error) {
        alert("errorrrr");
      }
    }
    chamarApi();
  </script>
</body>

</html>