<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Veículos Básicos</title>
  </head>
  <body>
    <header class="title-header">
      <h1 class="title"><a href="/paginaPrincipal">RENT A CAR</a></h1>
      <p class="title">/</p>
      <p class="title-red">MÉDIO</p>
    </header>
    <main>
      <section class="car-group-oferta">
        <div class="car-card">
          <img class="card-image" id="civicImage" src="" />
          <h2 class="card-title" id="civicTitle"></h2>
          <p class="card-desc" id="civicDesc"></p>
          <p class="card-price" id="civicPrice"></p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
        <div class="car-card">
          <img class="card-image" id="onixImage" src="" />
          <h2 class="card-title" id="onixTitle"></h2>
          <p class="card-desc" id="onixDesc"></p>
          <p class="card-price" id="onixPrice"></p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
      </section>
    </main>
    <script>
      const URL = "http://192.168.2.105:4000/carros";

      async function chamarApi() {
        try {
          const resp = await fetch(URL);
          const obj = await resp.json();
          let civic = obj[2];
          let civicImage = document.getElementById("civicImage");
          let civicTitle = document.getElementById("civicTitle");
          let civicDesc = document.getElementById("civicDesc");
          let civicPrice = document.getElementById("civicPrice");
          civicImage.src = civic.imagem;
          civicTitle.innerHTML = civic.marca + " " + civic.modelo;
          civicDesc.innerHTML = civic.descricao;
          civicPrice.innerHTML = civic.precoDia + " / DIA";

          let onix = obj[3];
          let onixImage = document.getElementById("onixImage");
          let onixTitle = document.getElementById("onixTitle");
          let onixDesc = document.getElementById("onixDesc");
          let onixPrice = document.getElementById("onixPrice");

          onixImage.src = onix.imagem;
          onixTitle.innerHTML = onix.marca + " " + onix.modelo;
          onixDesc.innerHTML = onix.descricao;
          onixPrice.innerHTML = onix.precoDia + " / DIA";
        } catch (error) {
          window.location.href = "paginaFa";
        }
      }
      chamarApi();
    </script>
  </body>
</html>
