<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Veículos Básicos</title>
  </head>
  <body>
    <header class="title-header">
      <h1 class="title"><a href="/paginaPrincipal">RENT A CAR</a></h1>
      <p class="title">/</p>
      <p class="title-red">SUPER LUXO</p>
    </header>
    <main>
      <section class="car-group-oferta">
        <div class="car-card">
          <img
            class="card-image"
            src="https://imgd-ct.aeplcdn.com/1056x660/n/cw/ec/130677/huracan-tecnica-right-front-three-quarter.jpeg?isig=0&q=80"
          />
          <h2 class="card-title">LAMBORGUINI HURACAN</h2>
          <p class="card-desc">5.2 V10 GASOLINA LP 640 STO LDF</p>
          <p class="card-price">R$ 5.440,00 / DIA</p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
        <div class="car-card">
          <img
            class="card-image"
            src="https://image.webmotors.com.br/_fotos/anuncionovos/gigante/2024/202412/20241203/ferrari-sf90-3.9-v8-turbo-phev-stradale-f1dct-wmimagem1025182286.jpg?s=fill&w=249&h=186&q=70"
          />
          <h2 class="card-title">TOYOTA COROLLA</h2>
          <p class="card-desc">1.8 VVT-I HYBRID FLEX ALTIS CVT</p>
          <p class="card-price">R$ 5.600,00 / DIA</p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
