<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Veículos Básicos</title>
  </head>
  <body>
    <header class="title-header">
      <h1 class="title"><a href="/paginaPrincipal">RENT A CAR</a></h1>
      <p class="title">/</p>
      <p class="title-red">LUXO</p>
    </header>
    <main>
      <section class="car-group-oferta">
        <div class="car-card">
          <img
            class="card-image"
            src="https://media.toyota.com.br/f3b85b1a-ab92-4330-b1d3-d4cdc9670166.png"
          />
          <h2 class="card-title">TOYOTA HILUX</h2>
          <p class="card-desc">2.8 D-4D TURBO DIESEL CD GR-S 4X4 AUTOMÁTICO</p>
          <p class="card-price">R$ 440,00 / DIA</p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
        <div class="car-card">
          <img
            class="card-image"
            src="https://edgecast-img.yahoo.net/mysterio/api/1F0E77516D5E776278B30D0784D6B0F0DD917B4A2A4C97BB22F0CCB5CA8213B5/autoblog/resizefill_w1200_h675;quality_80;format_webp;cc_31536000;/https://s.aolcdn.com/commerce/autodata/images/USD00TOC041B021001.jpg"
          />
          <h2 class="card-title">TOYOTA COROLLA</h2>
          <p class="card-desc">1.8 VVT-I HYBRID FLEX ALTIS CVT</p>
          <p class="card-price">R$ 209,99 / DIA</p>
          <div class="card-button-oferta">
            <button class="btn-ver-oferta">
              <a class="button-link-oferta" target="_blank" href="#"
                >VER OFERTA</a
              >
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
